section.bonus
    .bonus__container
        .bonus__row
            .bonus__text
                h2.bonus__title Bonus na prvi #[span depozit]
                .bonus__info
                    .bonus__info-one
                        p.bonus__info-one-top
                            span.back do 5.000 KN
                            span.border 663,61 EUR
                        p.bonus__info-one-bottom 100% BONUSA NA PRVI DEPOZIT
                    .bonus__info-two
                        p.bonus__info-two-top
                            span.back 200
                        p.bonus__info-two-bottom besplatnih vrtnji
                    .bonus__info-three
                        p.bonus__info-three-top
                            span.back 200 KN
                            span.border 26,54 EUR
                        p.bonus__info-three-bottom risk-free bet
            .bonus__image
                picture.glitch-img
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/man-mob.png")
                    source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/man-mob.png")
                    source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/man-desc.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/man-desc.png")
                    img(src="img/man-desc.png" alt="Favbet")
                .bonus__image-back
                .bonus__image-min
                .bonus__image-text
                    span Filip Hrgović
                    span brand ambassador#[br] Favbet




